@model List<Cvjećarnica_Zvončica.Models.ApplicationUser>
@{
    ViewData["Title"] = "Korisnici";
}

<a asp-action="Kreiraj" class="btn btn-primary mt-5 mb-5">Kreiraj Novog Korisnika</a>

<h1>Popis registriranih korisnika</h1>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Ime</th>
            <th>Prezime</th>
            <th>E-mail</th>
            <th>Rola</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ime</td>
                <td>@item.Prezime</td>
                <td>@item.Email</td>
                <td>@item.Rola</td>
                <td><a asp-action="Uredi" asp-route-id="@item.Id" class="btn btn-primary mr-3">Uredi</a>
                    <a asp-action="Brisi" asp-route-id="@item.Id" class="btn btn-danger">Brisi</a>
                </td>
            </tr>
        }
    </tbody>
</table>

